@import "navigation",
		"home";

// Colors
$green  : #3aad91;
$blue   : #2989c6;
$grey   : #414141;
$orange : #fb6733;
$red    : #d33847;
$grey   : #d7d7d7;

body{
	font-family: 'Open Sans', sans-serif;
}


   
