@import 'colors',
		'header',
		'navigation',
		'projects',
		'project';
article{
	border: 1px solid green;
	height:500px;
	img{
		border: 1px solid green;
		height: 100% !important;
	}
}
body{
	font-family: 'Lato', sans-serif;
	background-color: $cream;

	a{
		cursor:pointer; 
	}
	h1{
		font-size: 6.5rem;
	}
	h2{
		font-size: 6rem;
	}
	h3{
		font-size: 4.5rem;
	}
	h4{
		font-size: 3rem;
	}
	h5{
		font-size: 2rem;
	}
}
