@import "navigation",
		"home",
		"gallery",
		"about";

// Colors
$green  : #3aad91;
$blue   : #2989c6;
$grey   : #414141;
$orange : #fb6733;
$red    : #d33847;
$grey   : #d7d7d7;

body{
	font-family: 'Open Sans', sans-serif;
}
.footer{
	text-align: center;
	margin-top: 3rem;
	padding: 0 0 5rem 0;

	& > span{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 0.32rem;
		font-size: 0.75rem;
	}
}
a, a:hover{
	color: #000000;
}

   
h3{	
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1rem;
	font-size: 0.9rem;
	margin: 1rem auto 3rem;
}