.main-gallery{
	padding-top: 5rem;

	.photo-gallery{
		padding: 5px;
		z-index:1;
		
	}
	.photo-gallery:hover{
		.caption{
			opacity:1;
		}
	}
	.caption{
		cursor: pointer;
		opacity:0;
		transition:opacity 0.3s linear;
		text-align: center;
		background-color: rgba(255,255,255,0.5);
		height: 5rem;
		margin-top: -5rem;
		position: relative;
		z-index:2;

		span{
			display: inline-block;
			margin-top: 1.7rem;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.5rem;
			font-size: 1rem;
		}
	}

}
.album{
	padding-top: 5rem;

	.back{
		cursor: pointer;
		height: 2rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		font-size: 0.7rem;

		& > .icon{
			width: 0.8rem;
			display: inline-block;
			margin-right: 0.4rem;
		}
	}
	
	.photo-gallery{
		padding: 5px;
		z-index:1;
		
	}
	.photo-gallery:hover{
		.caption{
			opacity:1;
		}
	}
	.caption{
		cursor: pointer;
		opacity:0;
		transition:opacity 0.3s linear;
		text-align: center;
		background-color: rgba(255,255,255,0.8);
		height: 5rem;
		margin-top: -5rem;
		position: relative;
		z-index:2;

		span{
			display: inline-block;
			margin-top: 1.7rem;
			text-align: center;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
			font-size: 0.8rem;
		}
	}

}
