@import 'colors';
@import 'fonts';

header{
	background: url('./assets/flowers.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 2rem;
	text-align: center;
	img{
		height: 150px;
		margin: 0 auto;
		
		
		widht: 100%;
	}
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: $black;
	color: $white;
	padding: 1rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.3rem;
	.columns:first-child{
		margin-bottom:1rem;
	}
	img{
		width: 1.5rem;
		margin-right: 1rem;
	}
}