@import 'colors';
@import 'fonts';

header.page-header{
	background: url('./assets/flowers.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 3rem;
	text-align: center;
	img{
		height: 160px;
		margin: 0 auto;
	}
}

footer{
	background-color: $black;
	color: $white;
	padding: 0.8rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;

	& > .row{
		max-width: none;
	}
	.columns:first-child{
		margin:0.4rem 0;
		text-align: left;
	}
	.columns{
		text-align: right;
	}
	img{
		cursor: pointer;
		width: 1.5rem;
		margin-right: 1rem;
		position: relative;
		top: 0;
	}
	img:hover{
		top: -0.3rem;
	}
}