@import 'colors';
@import 'fonts';

.page-header{
	background: url('./assets/flowers.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 2rem;
	text-align: center;
	img{
		height: 150px;
		margin: 0 auto;
		
		
		widht: 100%;
	}
}
footer{
	background-color: $black;
	color: $white;
	padding: 0.8rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;

	& > .row{
		max-width: none;
	}
	.columns:first-child{
		margin:0.4rem 0;
		text-align: left;
	}
	.columns{
		text-align: right;
	}
	img{
		width: 1.5rem;
		margin-right: 1rem;
	}
}