$slides: 4;
$time_per_slide: 4;
// total time needed for full animation
$total_animation_time: $time_per_slide * $slides;

@media only screen and (min-width: 64.063em) { 
  .photos{
    z-index: -1;
    overflow:hidden;
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
  }
}

.photo{
  z-index: -1;
  position:absolute;
  animation:round #{$total_animation_time}s infinite;
  opacity:0;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

@keyframes round{   
  25%{
    opacity:1;
  }
  40%{
    opacity:0;
  }
} 

@for $index from 1 to $slides + 1{
  img:nth-child(#{$index}){
    animation-delay:#{$total_animation_time - $time_per_slide * $index}s
  }
}