@import 'colors', 
		'fonts';

.home{
	
	padding: 10rem 0 0 0;
	min-height: 38rem;
	font-size: 1.8rem;
	text-align: center;
	.row{
		text-align: left;
	}
	h5{
		font-size:10rem;
		font-family: 'Bellwethers';
		color: $purple;
	}
	p {
		font-size: 1.7rem;
	}
	
	.info{

		
		font-size: 1.2rem;
		letter-spacing: 0.4rem;
		text-transform: uppercase;
		
		.columns{
			cursor: pointer;
			text-align: center;
			border: 1px solid $grey;
			margin: 0.2rem 0;
			padding-top: 1rem;
			padding-bottom: 0.2rem;
			color: $purple;
			
			.icon{
				width: 10rem;
				margin: 0 auto;
				fill: $purple;

			-webkit-transition: width 0.2s ease-out,
		  		fill 0.2s ease-out;
		  	-moz-transition: width 0.2s ease-out,
		  		fill 0.2s ease-out;
		  	-o-transition: width 0.2s ease-out,
  				fill 0.2s ease-out;
  			transition: width 0.2s ease-out,
  				fill 0.2s ease-out;
			}

		}
		.columns:hover{

			.icon{
				width:11rem;
				fill: $black;
			}
		}

		img{

			width: 1.2rem;
			margin-top: -0.2rem;
			margin-left: 1rem;
			margin-right: 2rem;
		}
	}
}
.about{
	height: 38rem;
	border: 1px solid green;
	font-size: 100px;

}