@import 'colors';

.page-navigation{
	margin-top: 0.4rem;
	margin-bottom: 1rem;
	height: 1.9rem;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	font-size: 8px !important;
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;

	& li{
		list-style-type: none;
		padding: 0;
		margin: 0.2rem 0.2rem;
		display: inline-block;
	}
	span{
		cursor: pointer;
	}
}

