@import 'colors', 
		'fonts';

.photography{
	text-align: center;
	
	hr{
		border-color: $purple;
		position: relative;
		top: -3rem;
		z-index: -1;
	}
	.photography-header{
		z-index: 100;
		font-family: 'Bellwethers';
		color: $purple;
		width: 19rem;
		padding: 0 2rem;
		margin: 0 auto;
		background-color: $cream;
	}
	.columns{
		padding: 0;
		
		text-align: center;
		figure{
			width: auto;
		}
	}
}