@import 'fonts',
		'colors';

.projects{
	text-align: center;
	margin-top: 4rem;
	padding-bottom: 15rem;
	hr{
		border-color: $purple;
		position: relative;
		top: -3rem;
		z-index: -1;
	}
	.dev-header{
		z-index: 100;
		font-family: 'Bellwethers';
		color: $purple;
		width: 500px;
		margin: 0 auto;
		background-color: $cream;
	}

}

