@import 'colors';

.project{
	margin:1rem 0 0.5rem;
	padding: 1.4rem;
	height:38rem;
	background-color: rgba(255,255,255,0.3);
	border-radius: 0.1rem;
	border:1px solid $grey;


	.project-title{
		min-height:4rem;
		text-transform: uppercase;
		letter-spacing: 0.2rem;
		color: $purple;
	}
	
	.description{
		padding: 0 0.4rem;
		text-align: left;
		text-indent: 2rem;
		margin: 3rem  0 0 0;
		font-size: 1.1rem;
		color: $purple;
	}

  	& > .links{
  		height: 5rem;
  		padding: 1rem 0;
  		text-align: right;
   		  	
   		.goTo{
  			
   			padding: 0.3rem 0 0.5rem 0;
	  		
	  		a{
	  			text-decoration: none;
	  			text-transform: uppercase;
	  			letter-spacing: 5px;
	  			color: $purple;
	  			position: relative;
	  			left: 0;
				-webkit-transition: left 0.2s ease-outleft;
			  	-moz-transition: left 0.2s ease-out;
			  	-o-transition: left 0.2s ease-out;
			  	transition: left 0.2s ease-out;
	  		}

	  		a:hover{
  				left:0.4rem;
  			}
	  	}
	  	.goTo:first-child{
	  		border-bottom: 1px solid $purple;

	  	}

  	
		.icon{
  			fill: $purple;
  			display: inline-block;
  			width: 1.7rem;
  			margin-left: 1rem;
  		}
  	}
}


