@import 'fonts',
		'colors';

.projects{
	text-align: center;
	
	h4{
		font-family: 'Bellwethers';
		color: $purple;
		margin: 0 auto;
		background-color: $cream;
		position: relative;
		top: 2rem;
	}
	.dev-header{
		width: 45rem;
	}
	.design-header{
		width: 30rem;
	}
}

.development-projects{
	border-top: 2px solid $purple;
	padding-top: 3rem;
	overflow: auto;
}